
.add_auther_btn{
    margin-top : 60px
}

#checkFname, #checkLname, #checkAge, #checkProfile ,#checksalary  ,#checkexp ,#checktech{
    padding: 5px 10px;
  margin-top: 7px;
  background-color: rgb(250, 202, 210);
  color: rgb(247, 32, 104);
}
